{% extends 'layout.html.twig' %}
{% block title %} Boutique - gestion Produit {% endblock %}

{% block content %}
<h1>  {{ title}} &nbsp &nbsp &nbsp</h1><br>

{% if photo is defined %}
<img src="{{ asset('photo/' ~ photo) }}" height="150"/>
{% endif %}
{{ form(produitForm) }}


{% endblock %}


