header{
    background:#75c9c8;
}
footer{
    background:#75c9c8; 
}
img{
    width: 100%;
    height: 50%;
}
p{
    font-size: .75rem;
}
h5{
    font-size: 1rem;
}
.footer{
    display: inline-block;
    margin-right : 2%;
    
}
a:hover{
    text-decoration: none;
}
.image{
    width: 25%;
}
.image1{
    padding: 0;
    margin: 0;
    border: .5px solid rgb(75, 71, 71);
    box-shadow: 2px 2px 2px rgba(51, 49, 49, 0.883);
} 
