{% extends 'layout.html.twig' %}
{% block title %} Boutique - inscription {% endblock %}

{% block content %}
<h1>  {{ title}} &nbsp &nbsp &nbsp</h1><br>
{{ form(membreForm) }}
{% endblock %}









